body {
    background-image: url(https://www.benedikt-sondermann.de/task6/background.png);
}

fieldset {
    background-color: lightgray;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
}

th {
    background-color: green;
}

td {
    background-color: lightgreen;
}

h1 {
    color: darkgreen;
    font: Arial;
    text-align: center;
}

h2 {font-size: 24px;
}

#abt {
    text-transform: uppercase;
}

.buy {
    color: blue
}

p {
    font-family: Verdana;
    font-size: 14px;
}

#remember {
    color: red;
}

ul {
    font-size: 18px;
    font-weight: bold;
    color: red;
}

#footnote { 
    position: relative;
    top: 250px;
    text-align: center;